.App {
  text-align: center;
}

.btn{
  -webkit-text-stroke-width: 0cqh;
   color: #eeeaec;
   border-radius: 10px;
   border-color: rgb(80, 62, 197);
   background-color: rgb(92, 76, 191) ;
}

.mybox{
  border-radius: 3px;
  border-color: rgb(28, 4, 187);
}
.container{
  color:rgb(6, 2, 31) ;
}

